body {
  background-color: lightgreen;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#premium-materials {
  display: flex;
  background-color: DodgerBlue;
}